.container{
	display: grid;
}
/*grid-1*/
.grid-1 .container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px 100px 200px;
    grid-gap: 3px;
}


/*grid-3*/
.grid-3 .container {
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    grid-auto-rows: 7rem;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}