h1, h2, h3, h4, h5, h6, p, a, span{
    text-align: center;
    font-family: sans-serif;
}
pre code{
    font-family: 'Nunito', sans-serif;
}
.wrapper{
    max-width: 50em;
    margin: 0 auto;
}

.grid-1 .container > div{
    border: 1px solid #BEBEBE;
}

.grid-3 .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.grid-3 .container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}